
#main_nav a:hover{
    color: #184B9F;
    cursor: pointer;
}
.menubar:hover {
    cursor: pointer;
}
header #nav_gnb {
    text-align: end;
    padding-right: 5%;
    position: absolute; 
    left: 0; 
    top: 0; 
    padding: 10px 232px 5px; 
    width: 100%; 
    box-sizing: border-box;  
    z-index: 10;
    border-bottom: 1px solid #ffffff;
}
header #nav_gnb nav > ul > li > a {
    /* left: -68%; */
    display: block;
    position: relative;
    width: 160px;
    height: 70px;
    font-size: 20px;
    color: white;
    line-height: 70px;
    text-decoration: none;
    top: 0px;
    z-index: 10;
    text-align: center;
    font: normal normal bold 20px/70px Noto Sans KR;
}

header #nav_gnb nav > ul > li > a:after {
    content: ""; 
    position: absolute; 
    bottom: 10px; 
    left: 40px; 
    width: 0;
    height: 5px; 
    background: #184B9F;
    transition: all 0.5s; 
    border-radius: 20px;
}

header #nav_gnb nav > ul > li:hover > a:after{
    width: 50%;
}

header #nav_gnb nav + div {
    position:absolute; 
    left: 0; 
    top:85px; 
    width: 100%;
    height: 200px; 
    background: rgba(24, 75, 159, .7); 
    transition: all 0.5s; 
    z-index: 0;
}

header #nav_gnb nav > ul >li {
    left: -8%;
    display: inline-block; 
    position: relative;
    z-index: 2;
}
header #nav_gnb nav > ul ul li {
    line-height: 25px;
    padding-left: 0px;
}

header #nav_gnb nav > ul ul a {
    font-size: 20px;
    color: white;
    z-index: 10;
}


header #nav_gnb nav > ul ul a:hover :after {
    width: 100%;
}

header #nav_gnb nav > ul ul {
    padding-top: 15px;
    position: absolute;
    width: 100%;
    text-align: left;
    height: 230px;
    transition: all 0.5s;
    padding-left: 40px;
}

.white_logo img{
    position: absolute;
    width: 133px;
    height: 30px;
    left: -103%;
}

header >a {
    position: absolute;
    display: flex;
    right: 10%;
    top: 30px;
    width: 50px;
    z-index: 100;
}

header .menubar:hover  nav + div{
    opacity: 1;
}
header .white_logo {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 100;
    margin-left: 20%;
    height: 30px;
    filter: invert(93%) sepia(93%) saturate(0%) hue-rotate(104deg) brightness(105%) contrast(106%);
}

header .visual .slide img{
    width: 100%;
    height: 900px;
    display: block;
    position:relative;
    filter: brightness(72%);

}

.startstop{
    width: 20px;
    height: 40px;
    display: flex;
	justify-content: center;
}

.btn_1 {
    gap: 3.3%;
    left: 12.4%;
    padding-top: 100px;
    background: transparent;    
    display: flex;
}
.slick-arrow{
    background: transparent;
}

.start{
    background: transparent;
}
.stop{
    background: transparent;
}


.close{
    opacity: 0; 
    display: none;
}
.more{
    opacity: 1; 
}

.header .header_text-wrap {
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.header .header_text {
    position: absolute;
    padding-bottom: 80px;
    left: 12.4%;
    top: 462px;
    color: #ffffff;
}

.header .header_text p:first-child {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 35px;
    line-height: 60px;
    text-align: left;
}

.header .header_text p:last-child {
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
}

.slide{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    filter: brightness(72%);
}
.btn_1 .start{
    display: none;
}
.btn_1>button{
    cursor: pointer;
}
.btn_1>span>button{
    cursor: pointer;
}

/* nav 상단고정 */

.header #nav_gnb{
    position: fixed;
    z-index: 100;
}

.header>a>img{
    position: fixed;
    z-index: 101;
}

.header .white_logo{
    position: fixed;
    z-index: 100;
}

/* nav 내렸을떄 css */

header.active #nav_gnb{
    position: fixed;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    z-index: 100;
}
header.active .white_logo{
    filter: brightness(1);
    z-index: 101;
}

header.active #nav_gnb nav > ul > li > a {
    color: #000000;
}
/* header.active #nav_gnb nav > ul ul a {
    font-size: 20px;
    color: #000000;
} */
header .menubar{
    filter: brightness();
}
header.active .menubar{
    filter: brightness(0);
    position: fixed;
} 



