body{
    padding-top: 80px;
}
.blank {
    width: 100%;
    height: 2000px;
    background-color: aliceblue;
}
#header {
    z-index: 99999;
    position: absolute;
}
#nav_gnb{
    position: fixed;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
}
.fix, .fix img {
    position: fixed;
}

.logo img{
    width: 133px;
    height: 30px;
    top: 3%;
    left: 20%;
}

header .logo {
    position: absolute; 
    text-align: left;
    left: 30px; 
    top: 30px; 
    z-index: 100; 
    margin-left: 20%; 
    height: 30px;
}
header >a  {
    position:absolute; 
    display: flex; 
    right: 10%; 
    top:30px; 
    width: 50px; 
    z-index: 100; 
}
header #nav_gnb {
    text-align: end;
    padding-right: 5%;
    /* position: absolute;  */
    left: 0; 
    top: 0; 
    padding: 10px 232px 5px; 
    width: 100%; 
    box-sizing: border-box;  
    z-index: 10;
}
header #nav_gnb nav + div {
    position:absolute; 
    left: 0; 
    top:85px; 
    width: 100%;
    height: 200px; 
    background: rgba(24, 75, 159, .7); 
    transition: all 0.5s; 
    z-index: 0;
}
header #nav_gnb nav > ul >li {
    left: -8%;
    display: inline-block; 
    position: relative;
    z-index: 2;
}
header #nav_gnb nav > ul > li > a{
    display: block; 
    position:relative; 
    width:160px; 
    height: 70px; 
    font-size: 20px; 
    color: #000000; 
    line-height: 70px; 
    text-decoration: none; 
    top: 0px; 
    font: normal normal bold 20px/70px Noto Sans KR;
    /* z-index: 10;  */
    text-align: center; 
}
header #nav_gnb nav > ul > li > a:after {
    content: ""; 
    position: absolute; 
    bottom: 10px; 
    left: 40px; 
    width: 0; 
    height: 5px; 
    background: #184B9F;
    transition: all 0.5s; 
    border-radius: 20px;
    z-index: 99999;
}
#main_nav a:hover{
    color: #184B9F;
    cursor: pointer;
}
header #nav_gnb nav > ul > li:hover > a:after{
    width: 50%;
}
header #nav_gnb nav > ul ul {
    padding-top: 15px; 
    position: absolute; 
    width: 100%; 
    text-align: left; 
    height: 230px; 
    transition: all 0.5s; 
    padding-left: 40px;
}
header #nav_gnb nav > ul ul li{
    line-height: 25px; 
    padding-left: 0px; 
}
header #nav_gnb nav > ul ul a {
    font-size: 20px;
    color: white; 
    z-index: 10;
}
header #nav_gnb nav > ul ul a:hover :after {
    /* left: 0;  */
    width: 100%;
}
.infonav_text {
    position: relative;
}
.infonav_text img{
    /* background-image: url(../img/04.infonav.png); */
    filter: brightness(70%);
    width: 100%;
    height: 300px;
    /* border: 5px ridge red; */
}
.text_p {
    position: absolute;
    width: 100%;
    height: 300px;
}
.text_p p {
    display: flex;
    place-content: center;
    padding-top: 120px;
    font: normal normal bold 40px/58px Noto Sans KR;
    z-index: 10;
}
.menubar{
    cursor: pointer;
}
.infonav_text{
    font-size: 40px;
    display: flex;
    color: #ffffff;
    letter-spacing: 0px;
}
.close{
    opacity: 0; 
    display: none;
}
.more{
    opacity: 1;
}