:root {
    /* Colors: */
    --black-color-1E1E1E: #1E1E1E;
    --lightgray-color-C8C8C8: #C8C8C8;
    --blue-color-184B9F: #184B9F;
    --white-color-fffff: #ffffff;
}

/* container */
/* resoft news */
.resoft_news .News_CardLists{
    display: flex; justify-content: space-between;
}
.resoft_news .News_CardLists .News_Cardlist{
    max-width: 300px; 
}

.resoft_news .News_Cardlist .NewsCard_img{
    width: 300px; height: 200px; overflow: hidden;
    border-radius: 20px;
}

.resoft_news .News_Cardlist:hover .NewsCard_img > img{
    transform: scale(1.2);
    transition: 1s;
    max-width: 300px;
    object-fit: cover;
    
}

.resoft_news .News_Cardlist .NewsCard_txt{
    font-size: 18px;
    font-weight: bold;
    color: var(--black-color-1E1E1E);
    height: 52px;
    margin-top: 10px;
}
.resoft_news .News_Cardlist:hover .NewsCard_txt{
    color: var(--blue-color-184B9F);
}
.resoft_news .News_Cardlist .NewsCard_txt > p{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.resoft_news .News_Cardlist .NewsCard_date{
    color: var(--lightgray-color-C8C8C8);
    margin-top: 30px;
}
.boder_div{
    width: 2px;
    height: 300px;
    background-color: #f1f1f1;
}


/* resoft - news 반응형  */
/* 태블릿  */
@media (max-width : 1280px) {
    .resoft_news{
     max-width: 1000px;
     margin: 0 auto;
    }
    .News_CardLists{
     max-width: 800px;   
     flex-wrap: wrap;
     margin: 0 auto;
    }
    .News_Cardlist:nth-child(1),
    .News_Cardlist:nth-child(2)
    {
        margin-bottom: 50px;
    }
     .boder_div{
     display: none;
    }
 }
/* 모바일 */
@media (max-width : 768px) {
    .resoft_news{
        max-width: 704px;
        margin:0 auto ;
    }
    .NewsCard_List{
        flex-wrap: wrap;
        flex-basis: 50%;
        flex-grow: 0.5;
    }
    .boder_div{
        display: none;
    }
}

/* project */

/* 프로젝트 - 타이틀 */
.resoft_proj{
     width: 100%; 
     background-color: #F9F9F9;
    /* background-color: #964c4c; */
}
.resoft_proj .proj_wrap{ 
   display: flex; justify-content: space-between;
}
.resoft_proj .proj_wrap .proj_Tit{
    text-align: right; margin-top: 100px;
}

/* 프로젝트 - 카드영역 */
.resoft_proj .proj_cardItems{
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;
}
.proj_cardItems .card_item{
    width: 534px; height: 393px;
    margin-bottom: 50px;
}
.proj_cardItems #proj_bg01{
    background: url(../img/proj_bg01-1.png) no-repeat;
    background-size: cover;
    max-height: 387px;
    border-radius: 30px;
}

.proj_cardItems #proj_bg02{
    background: url(../img/proj_bg_img02.svg) no-repeat;
    background-size: cover;
    max-height: 387px;
    border-radius: 30px;
}
.radius30{
    border-radius: 30px; 
}

.card_text{
    color:var(--white-color-fffff);
    position: relative;
    overflow: hidden;    
    max-height: 387px;
    border-radius: 30px;
}
.card_text:hover{
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
/* #proj_bg01:hover, #proj_bg02:hover {
    /* filter: brightness(.7); 
} */
.card_text > img{
    text-align: center;
    height: 100%;
    border-radius: 30px;
}
.card_text .eco {
    margin-left: 6%;
}
.card_text .moa {
    margin-left: 20%;
    margin-top: 5%;
}
.card_text:hover > img{
    transform: scale(1.25);
    transition: .3s;
    object-fit: cover;
    filter: brightness(.7);
    max-height: 387px;
}
.card_text > div {
    display:none;
    filter: none;
    color: #ffffff;
}
.card_text:hover > div{
    display: block;
    position: absolute;
    text-align: left;
    bottom: 7%;
    left: 5.8%;
}
.card_tit{
    font-size: 18px;
}
.card_sub{
    font-size: 14px;
}

/* 태블릿  */
@media (max-width : 1280px) {
    .resoft_proj{
        margin-top:100px ;
        padding-bottom: 100px;
    }
    .proj_wrap{
        flex-direction: column-reverse;
        margin:0 auto ;
        max-width: 1000px;
    }
    .proj_cardItems{
        margin: 0 auto;
        text-align: center;
    }
    .proj_cardItems .card_item{
        margin: 30px;
    }

    .Tit_text{
        margin: 0 auto;
        text-align: right;
    }
}

/* 모바일 */
@media (max-width : 768px) {
    .proj_wrap{
        flex-direction: column-reverse;
        max-width: 704px;
        margin:0 auto ;
    }
    .proj_Tit{
        text-align: right;
    }
    .animaiton_img{
        width: 704px;
        margin: 0 auto;
        scale: 0.9;
    }
    .animaiton_img #lottie01{
        text-align: center;
    }
    .resoft_proj .Tit_text{
        margin-right: 30px; 
        text-align: right;
    }
    
}


/*  resogft _ service 영역*/

.resoft_service .ser_wrap{
    padding: 100px 0;
    width: 100%;
    display: flex; justify-content: space-between;
}

/* service - card  */
.resoft_service .ser_wrap .seritems_wrap{
    width: 100%;   
    height: 100%;
}

.resoft_service .ser_wrap .seritems_wrap .card_top{
    margin-bottom: 80px;
}
.resoft_service .ser_wrap .seritems_wrap .cards{
    display: flex; justify-content: space-around;  
}
.resoft_service .seritems_wrap .ser_card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 280px;
    height: 340px;
    border-radius: 20px;
    color: var(--white-color-fffff);
    position: relative;
}
.resoft_service .seritems_wrap .ser_card:hover{
    transform: scale(1.2);
    transition: 0.4s;
}
.txt_front{
    text-align: center;
    /* position: absolute;
    top: 42%;
    left: 24%; */
    line-height: 20px;
}

.txt_back{
    opacity: 0;
    text-align: center;
    position: absolute;
    /* top: 38%;
    left: 28%; */
    line-height: 20px;
}
.resoft_service .seritems_wrap .ser_card:hover .txt_front{
    /* display: none; */
    transition: 1s;
}
.resoft_service .seritems_wrap .ser_card:hover .txt_back{
    display: block;
    transition: 1s;
    text-align: center;
    /* position: absolute; */
    top: 42%;
    left: 24%;
    line-height: 20px;
}
#serCard_bg01{
    /* backdrop-filter: url(../img/service_02.png) grayscale(30%) saturate(150%); */
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.3) url(../img/service_01.png);
    background-size: cover;
}
#serCard_bg02{
    margin-top: 80px;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.3) url(../img/service_02.png);
    background-size: cover;
}
#serCard_bg03{
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.3)url(../img/service_03.png);
    background-size: cover;
}
#serCard_bg04{
    margin-top: 80px;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.3) url(../img/service_04.png);
    background-size: cover;   
}



.front_title{
    font-size: 30px;
}
.front_sub{
    font-size: 20px;
}
.txt_back p{
    font-size: 24px;
}
/* 태블릿  */
@media (max-width : 1280px) {
    .resoft_service{
        
        background: #F2F6FC 0% 0% no-repeat;
        margin-bottom: 50px;
    }
    .resoft_service .ser_wrap{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 1000px;
        margin:0 auto ; 
    }
    .serTit{
        text-align: left;
        margin: 0 auto;
    }
}

@media (max-width : 768px){
    .resoft_service{
        background: #F2F6FC 0% 0% no-repeat
    }
    .serTit{
        margin: 0 auto;
    }
    .resoft_service .ser_wrap{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 704px;
        margin:0 auto ; 
    }
    .resoft_service .main_title,
    .resoft_service .sub_title,
    .resoft_service .TextImg_item{
        text-align: left;
        margin-left: 30px; 
    }
}

/* resoft - Reference */

.resoft_reference .RefTit_wrap {
    margin-bottom: 50px;
}
.resoft_reference .ref_bt_soild{
    width: 100%;
    height: 2px;
    background-color: var(--lightgray-color-C8C8C8);
    margin-bottom: 20px;
}

.Ref_items_wrap{
    display: flex; justify-content: space-around;
}
.Ref_items_wrap .Ref_img_wrap{
    box-sizing: border-box;
    margin-bottom: 20px;
}


.Ref_items_wrap ul .Ref_img{
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid var(--lightgray-color-C8C8C8);
    width: 200px;
    height: 100px;
    margin: 0 18px;
    text-align: center;
}

/* bg - ref_img  */
.ref_img01{
    background: url(../img/ref_01.png) no-repeat center;
}
.ref_img02{
    background: url(../img/ref_02.png) no-repeat center;
}
.ref_img03{
    background: url(../img/ref_03.png) no-repeat center;
}
.ref_img04{
    background: url(../img/ref_04.png) no-repeat center;
}
.ref_img05{
    background: url(../img/ref_05.png) no-repeat center;
}
.ref_img06{
    background: url(../img/ref_06.png) no-repeat center;
}
.ref_img07{
    background: url(../img/ref_07.png) no-repeat center;
}
.ref_img08{
    background: url(../img/ref_08.png) no-repeat center;
}
.ref_img09{
    background: url(../img/ref_09.png) no-repeat center;
    background-size: 88%;
}
.ref_img10{
    background: url(../img/ref_10.png) no-repeat center;
}
.ref_img11{
    background: url(../img/ref_11.png) no-repeat center;
}
.ref_img12{
    background: url(../img/ref_12.png) no-repeat center;
}
.ref_img13{
    background: url(../img/ref_13.png) no-repeat center;
}
.ref_img14{
    background: url(../img/ref_14.png) no-repeat center;
}
.ref_img15{
    background: url(../img/ref_15.png) no-repeat center;
}
.ref_img16{
    background: url(../img/ref_16.png) no-repeat center;
}
.ref_img17{
    background: url(../img/ref_17.png) no-repeat center;
}
.ref_img18{
    background: url(../img/ref_18.png) no-repeat center;
}
.ref_img19{
    background: url(../img/ref_19.png) no-repeat center;
}
.ref_img20{
    background: url(../img/ref_20.png) no-repeat center;
}
.ref_img21{
    background: url(../img/ref_21.png) no-repeat center;
}
.ref_img22{
    background: url(../img/ref_22.png) no-repeat center;
}
.ref_img23{
    background: url(../img/ref_23.png) no-repeat center;
}
.ref_img24{
    background: url(../img/ref_24.png) no-repeat center;
}
.ref_img25{
    background: url(../img/ref_25.png) no-repeat center;
}
.ref_img26{
    background: url(../img/ref_26.png) no-repeat center;
}
.ref_img27{
    background: url(../img/ref_27.png) no-repeat center;
}
.ref_img28{
    background: url(../img/ref_28.png) no-repeat center;
}
.ref_img29{
    background: url(../img/ref_29.png) no-repeat center;
}
/* .Ref_items_wrap ul .Ref_img img{
    width: 100%;
} */

.Ref_items_wrap {
    margin-bottom: 100px;
}
/* 태블릿  */
@media (max-width : 1280px) {
    .resoft_reference{
        max-width: 1000px;
        margin: 0 auto;
    }
    .ref_bt_soild{
        width: 1000px;
    }
    .RefTit_wrap{
        margin-top: 100px;
    } 
    .Ref_items_wrap{
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }
}
/* 모바일 */
@media (max-width : 768px) {
    .resoft_reference{
        max-width: 704px;
        margin:  0 auto;
    }
    .Ref_items_wrap{
        display: flex;
        flex-direction: column;
    }
    .Ref_img_wrap{
        display: flex;
        justify-content: space-between;
    }
}
