.container{
    width: 100%;
    height: 100%;
}
.main_title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/58px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
}
.sub_title{
    font: var(--unnamed-font-style-normal) normal medium 18px/26px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    color: #C8C8C8;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #C8C8C8;
}
.sub-logo{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/32px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 22px/32px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

.ex_text{
    text-align:right;
    margin-bottom:10%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal bold 30px/44px Noto Sans KR;
    color: #1E1E1E;
    opacity: 1;
    margin:0%;
    margin-bottom:140px;
    word-break:normal;
}
#ecoce {
    width: auto;
    height: auto;
    max-width: 1440px;
    width: 75%;
    height: 883px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
.ecoce-left{
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}
.ecoce-left-top .main_title{
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    text-align: left;
}
.ecoce-left-top .sub_title{
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #C8C8C8;
}
.ecoce-left-bottom{
    margin-top: 54px;
    background: url("../img/에코스\ \(1\).png") no-repeat;
    background-size: 100%;
}
.ecoce-left-bottom img{
    width: 100%;
    padding: 8% 0 0 35%;
}
.ecoce-right {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: column;
}
.ecoce-right .sub-logo{
    text-align:right;
    width:auto;
}
.ecoce-right .ecoce-store{
    display: flex;
    justify-content: flex-end;
    margin-top: 15%;
}
.ecoce-store .app-store{
    width: 188px;
    height: 57px;
    background-color: #1e1e1e;
    border-radius: 30px;
    margin-left: 6%;
}
.ecoce-store a{
    width: 188px;
    height: 57px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.ecoce-store img{
    word-break: keep-all;
    padding: 11px 12px 11px 20px;
}
.ecoce-store span{
    display: inline-block;
    width: 93px;
    height: 42px;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #fff;
    word-break: keep-all;
}
.moado-back{
    width: 100%;
    height: 820px;
    background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,0,0,0) 100%), linear-gradient(30deg, #339be14c, rgba(0,255,0,0) 30.71%), linear-gradient(300deg, #e4cde8, rgba(0,0,255,0) 70.71%);
    margin-top: 80px;
}
#moado{
    max-width: 1440px;
    width: 75vw;
    height: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}
.moado-left{
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}
.moado-left-bottom img{
    width: 115%;
    padding: 8% 0 22% 0;
}
.moado-middle{
    width: 46%;
    position: absolute;
    left: 35%;
    bottom: 0;
}
.moado-right{
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: column;
}
.moado-right p:nth-child(1){
    font-size: 30px;
     font-weight: bold;
     line-height: 44px;
    text-align: right;
    margin-bottom: 18%;
}
.moado-logo{
    width: 62%;
    margin-bottom: 18%;
}
.moado-right .site-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.moado-right .site-button a{
    width: 153px;
    height: 57px;
    border-radius: 69px;
    background-color: #1e1e1e;
    text-decoration: none;
    color: #fff;
}
.moado-right .site-button span{
    display: inline-block;
    width: 153px;
    height: 57px;
    font-size: 14px; font-weight:normal; line-height: 57px;
    text-align: center;
}
#etc{
    margin:0 auto;
    width: auto;
    height: auto;
    margin-bottom:200px;
    margin-top:100px;
}
#etc .main_title{
    margin-left:12%;
}
#etc .sub_title{
    margin-left:12%;
}
.etc_slider {
    max-width: 100%;
    clear: both;
    margin:0 auto;
    margin-left:10%;
    margin-right:10%;
    
  }
  .etc_slider .slide_box{
    overflow: hidden;
  } 
  .slide_box .slide_list {
    background-color: #fff;
    box-sizing: border-box;
  }
  .slide_box .slide_list .slide_list_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 5% 37.5px;
    box-sizing: border-box;
  }
  .slide_box .slide_list_item:hover img{
    transform: scale(1.2);
  }
  .slide_box img {
    width: 100%;
    transform: scale(1);
    transition: transform .3s;
    object-fit: contain;
    box-shadow:1px 1px 5px;
  }

/*화면조정*/
@media screen and (max-width:1600px){
    #ecoce{
        height:95%;
    }
    #moado{
        height:95%;
    }
    .moado-back{
        height:95%;
    }
}

/*1280px(테블릿) 기준*/

@media screen and (max-width:1207px){
    header #nav_gnb {
        visibility:collapse;
    }
}
@media screen and (max-width:1075px){

}
@media screen and (max-width:930px){

}
/*768px(모바일) 기준*/
@media screen and (max-width:768px){
    .moado-right .site-button {
        z-index:2;
    }
    .ecoce-right >img{
        width :25em;
    }
}
@media screen and (max-width:600px){

}
