.container{
    margin:0 auto;
    max-width:100%;
}
.main_title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/58px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    margin-left:5%;
}
.sub_title{
    font: var(--unnamed-font-style-normal) normal medium 18px/26px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    color: #C8C8C8;
    margin-left:5%;
}
.sub-logo{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/32px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 22px/32px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

.ex_text{
    text-align:right;
    margin-bottom:10%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 30px/44px Noto Sans KR;
    color: #1E1E1E;
    opacity: 1;
    margin:0%;
    margin-bottom:140px;
    word-break:normal;
}
#ecoce {
    margin-bottom:100px;
    max-width:100%;
    width:1440px auto;
    margin-bottom:35%;
}
.ecoce-img1{
    background-image:url("../img/에코스\ \(1\).png");
    background-repeat:no-repeat;
    float:left;
    margin: auto 0;
    margin-left:5%;
}
.ecoce-img1 img{
    margin-top:95px;
    margin-left:229px;
}
.ecoce-right {
    text-align:right;
    margin-right:5%;
}
.ecoce-right .sub-logo{
    text-align:right;
    
}
.ecoce-store{
    list-style:none;
    margin:0 auto;
    float:right;
    margin-top:140px;
}

.ecoce-store li{
    float: left;
    background: #1E1E1E 0% 0% no-repeat padding-box;
    border-radius: 69px;
    opacity: 1;
    margin-left:30px;
}
.ecoce-store img{
    float:left;
    margin-top:11px;
    margin-left:20px;
    margin-right:15px;
    margin-bottom:11px;
}
.ecoce-store p{
    text-decoration:none;
    color:#fff;
    margin-top:10px;
    margin-bottom:9px;
    margin-left:12px;
    text-align:left;
}
#moado{
    max-width:100%;
    margin:0 auto;
    
}

.moado-back{
    background: transparent linear-gradient(223deg, #E4CDE800 0%, #339BE133 100%) 0% 0% no-repeat padding-box;
    margin:0 auto;
    width: 1440px auto;
}
.moado-middle{
    background-image:url("../img/main-visual.png");
    margin:0 auto;
    background-repeat:no-repeat;
    width:680px;
    height:686px;
    background-position:center bottom;
}
.moado-left{
    float:left;
    margin-left:5%;
}

.moado-right{
    float:right;
    margin-right:5%;
}
.site-button {
    border-radius: 69px;
    background: #1E1E1E padding-box;
    padding: 19px 30px;
    margin-top:140px;
    float:right;
}
.moado-right .site-button a{
    font: var(--unnamed-font-style-normal) normal medium 14px/22px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 14px/22px Noto Sans KR;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#etc{
    align-items:center;
    margin-top:2%;
    background-color:#ffffff;
}

.etc-box{
    width: 1440px auto;
    height: 484px;
    margin: 0 auto;

}
.etc-chart{
    margin-top:10px;
    align-items: center;
}

.etc-chart img{
    float:left;
    box-shadow:1px 1px 5px 1px black;
    margin: 75px;
    margin-bottom:200px;
    text-align: center;
    max-width: 100%;
    height:auto;
}