/* InfoNews wrap */
.InfoNews_lists{
    display: grid; grid-template-columns: 20% 80%;
}
.InfoNews_lists .InfoNews_turn{
    display: flex; justify-content: flex-start;
}

/* circle - 사이즈 지정 */
.circle{
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}
.InfoNews_lists .InfoNews_turn{
    height: 42px;
}

.InfoNews_lists .InfoNews_turn .trun_icon{
    background-color: var(--black-color-1E1E1E);
    color: var(--white-color-fffff);
    margin-right: 20px;
}
.InfoNews_lists .InfoNews_turn:hover .trun_icon{
    background-color: var(--blue-color-184B9F);
}
.InfoNews_lists .InfoNews_turn:hover .trun_text{
    color: var(--blue-color-184B9F);
}
.InfoNews_lists .InfoNews_turn .trun_text{
    line-height: 42px;
    font-size:16px;
    font-weight: bold;
    letter-spacing: 0.8;
}

.InfoNews_lists .InfoNews_list{
    margin-bottom: 100px;
}
.InfoNews_lists .InfoNews_list .News_headline{
    margin-bottom: 30px;
}
.InfoNews_lists .InfoNews_list .News_headline .headline{
    font-size: 24px;
    font-weight: bold;
    color: var(--black-color-1E1E1E);
    margin-bottom: 8px;
}
.InfoNews_lists .InfoNews_list .News_headline .headline_date{
    color: var(--lightgray-color-C8C8C8);
}
.InfoNews_lists .InfoNews_list .News_con{
    display: grid; grid-template-rows: 1fr 1fr;
    border-top: 3px solid #184B9F;
    border-bottom: 3px solid #184B9F;
    padding: 30px 0;
}
.InfoNews_lists .InfoNews_list .News_con_img{
    border-radius: 20px;
}
.InfoNews_lists .InfoNews_list .News_con_img img{
    width: 100%;
    border-radius: 20px;
}

.InfoNews_lists .pre_next_btn {
    display: flex; justify-content: space-between;
    margin-top: 30px;
}
.InfoNews_lists .pre_next_btn .btn_box{
    display: flex; justify-content: flex-start;
}
.InfoNews_lists .pre_next_btn .btn_icon{
    border: 1px solid var(--black-color-1E1E1E);
}
.InfoNews_lists .btn_box:hover .btn_icon{
    background-color: var(--blue-color-184B9F);
    color: var(--white-color-fffff);
}
.InfoNews_lists .btn_box:hover .btn_text{
    color: var(--blue-color-184B9F);
}
.InfoNews_lists .pre_next_btn .btn_text{
     margin-left: 30px; line-height: 42px;
     font-size: 16px; letter-spacing: 0.8;
     font-weight: bold;
}