
.footer{
    width: 100%;
    height: 250px;
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_wrap{
    opacity: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footer_wrap span{
    font-size: 16px;
    letter-spacing: 0px;
    color: #9E9E9E;
}

img{
    width: 200px;
    height: 45px;
}

.footer_bottom{
    line-height: 26px;
    font-size: 16px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-top: 30px;
}
.footer_bottomL{
    text-align: left;
}

.footer_bottomR{
    padding-left: 128px;
}