.footer{
    width: 100%;
    height: 250px;
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_wrap{
    width: 1440px;
    opacity: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footer_wrap span{
    font-size: 16px;
    letter-spacing: 0px;
    color: #9E9E9E;
}

.footer_tip>span>img{
    width: 200px;
    height: 45px;
}

.footer_top{
    text-align: left;
}
.footer_bottom{
    line-height: 26px;
    font-size: 16px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-top: 30px;
}
.footer_bottomL{
    text-align: left;
}

.footer_bottomR{
    padding-left: 128px;
    text-align: left;
}
span {
    width: 100%;
}

@media (max-width:1280px) {
    .footer_wrap {
        width: 1140px;
    }
    .footer_bottomR{
        padding-left: 4%;
    }
}
@media (max-width:768px) {
    .footer_wrap {
        width: 704px;
        margin-left: 5%;
    }
    .footer {
        height: 331px;
    }
    .footer_bottomR{
        padding-left: 0px;
    }
    .footer_bottomR:last-child{
        padding-top: 40px;
    }
    .footer_bottom {
        display: block;
    }
}