:root {
    /* Colors: */
    --black-color-1E1E1E: #1E1E1E;
    --lightgray-color-C8C8C8: #C8C8C8;
    --unnamed-color-184B9F: #184B9F;
    --white-color-fffff: #ffffff;
    
    /* Font/text values */
    --body-font-family-noto-sans-kr: Noto Sans KR;
    }
    
    /* Character Styles */
    .header_title {
        font-family: var(--unnamed-font-family-noto-sans-kr);
        font-size: 40px;
        color: var(--white-color-fffff)
    }
    .main_title {
        font-size: 40px;
        color: var(--black-color-1E1E1E);
    }
    .sub_title {
        font-size: 18px;
        color: var(--lightgray-color-C8C8C8);
    }
    .ex_text {
        font-size: 28px;
        font-weight: bold;
        color: var(--black-color-1E1E1E);
    }
*{
    box-sizing: border-box; font-family: var(--body-font-family-noto-sans-kr);
}
a {
    text-decoration: none;
}
.hori_margin {
    margin: 0 240px;
}
header .main_nav{
    color:#fff ;
}