:root {
    /* Colors: */
    --black-color-1E1E1E: #1E1E1E;
    --lightgray-color-C8C8C8: #C8C8C8;
    --unnamed-color-184B9F: #184B9F;
    --white-color-fffff: #ffffff;
    }

*{
    box-sizing: border-box; font-family:'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none; 
    color: var(--black-color-1E1E1E);
}    
/* 영역 margin  - 개인 영역간에 st-wrap class명 추가해 주세요 */
.container{
    overflow: hidden;
}
.st-wrap{
    margin: 0 auto; margin-top: 100px;
    max-width:1440px;
}

/* Character Styles */
.header_title {
    font-size: 40px;
    font-weight: bold;
    color: var(--white-color-fffff)
}
.main_title {
    font-weight: bold;
    font-size: 40px;
    padding: 16px 0 16px;
    color: var(--black-color-1E1E1E);
}
.sub_title {
    font-size: 18px;
    color: var(--lightgray-color-C8C8C8);
    text-transform: uppercase;
}
.ex_text {
    font-size: 20px;
    font-weight: bold;
    color: var(--black-color-1E1E1E);
}
.margin50{
    margin-top: 50px;
}
